.dark-medium-contrast {
  --md-sys-color-primary: rgb(192 199 255);
  --md-sys-color-surface-tint: rgb(187 195 255);
  --md-sys-color-on-primary: rgb(5 15 70);
  --md-sys-color-primary-container: rgb(132 141 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(200 201 225);
  --md-sys-color-on-secondary: rgb(18 21 38);
  --md-sys-color-secondary-container: rgb(141 143 166);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(234 190 220);
  --md-sys-color-on-tertiary: rgb(39 12 34);
  --md-sys-color-tertiary-container: rgb(173 133 160);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(253 250 255);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(203 201 212);
  --md-sys-color-outline: rgb(163 162 172);
  --md-sys-color-outline-variant: rgb(131 130 140);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(41 42 47);
  --md-sys-color-inverse-primary: rgb(59 68 122);
  --md-sys-color-primary-fixed: rgb(222 224 255);
  --md-sys-color-on-primary-fixed: rgb(0 8 65);
  --md-sys-color-primary-fixed-dim: rgb(187 195 255);
  --md-sys-color-on-primary-fixed-variant: rgb(41 50 103);
  --md-sys-color-secondary-fixed: rgb(224 225 249);
  --md-sys-color-on-secondary-fixed: rgb(13 16 33);
  --md-sys-color-secondary-fixed-dim: rgb(195 197 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(50 53 72);
  --md-sys-color-tertiary-fixed: rgb(255 215 241);
  --md-sys-color-on-tertiary-fixed: rgb(33 7 29);
  --md-sys-color-tertiary-fixed-dim: rgb(230 186 215);
  --md-sys-color-on-tertiary-fixed-variant: rgb(75 44 67);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(13 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(41 41 47);
  --md-sys-color-surface-container-highest: rgb(52 52 58);
  --md-extended-color-warning-color: rgb(213 206 119);
  --md-extended-color-warning-on-color: rgb(25 23 0);
  --md-extended-color-warning-color-container: rgb(153 147 67);
  --md-extended-color-warning-on-color-container: rgb(0 0 0);
  --md-extended-color-success-color: rgb(152 217 173);
  --md-extended-color-success-on-color: rgb(0 27 12);
  --md-extended-color-success-color-container: rgb(95 158 117);
  --md-extended-color-success-on-color-container: rgb(0 0 0);
  --md-extended-color-alert-color: rgb(195 198 255);
  --md-extended-color-alert-on-color: rgb(10 14 70);
  --md-extended-color-alert-color-container: rgb(135 140 200);
  --md-extended-color-alert-on-color-container: rgb(0 0 0);
}
