.dark {
    --color-background: #060d1a;
    --color-surface-low: #0b1526;
    --color-surface: #142033;
    --color-surface-high: #1e2b42;
    --color-surface-modal: #273347;
    --color-primary: #06bc6d;
    --color-warning: #dbb910;
    --color-error: #b2253d;
    --color-error-container: rgba(178, 37, 61, 0.5);
    --color-warning-container: rgba(219, 185, 16, 0.35);
    --color-primary-container: rgba(6, 188, 109, 0.4);
    --color-secondary: #19bbad;
    --color-tertiary: #7754bd;
    --color-secondary-container: rgba(25, 187, 173, 0.35);
    --color-tertiary-container: rgba(119, 84, 189, 0.5);
    --color-on-background: #8fbfab;
    --color-on-surface-low: #a3ccbb;
    --color-on-surface: #b8d9cb;
    --color-on-surface-high: #d0e5dc;
    --color-on-surface-modal: #e7f3ee;
    --color-on-primary: #022717;
    --color-on-secondary: #032c28;
    --color-on-tertiary: #17043d;
    --color-on-primary-container: #aee4cd;
    --color-on-secondary-container: #c3eae6;
    --color-on-tertiary-container: #dcd2f0;
    --color-on-warning: #3c3307;
    --color-on-error: #39040d;
    --color-on-warning-container: #f0e7b9;
    --color-on-error-container: #eec1c9;
    --color-unactive: #505956;
}
